<ion-header [translucent]="true">
   <ion-toolbar color="primary">
      <div class="mt-8 ion-padding flex items-center justify-between">
         <div class="relative">
            <ng-icon name="lucideSearch" class="text-lg text-gray-500 absolute top-2 left-2"/>
            <input class="w-65 bg-white text-gray-700 text-sm pl-8" hlmInput type="email" placeholder="Search..." />
         </div>

         <div class="flex items-center justify-center gap-4">
            <ng-icon name="lucideShoppingCart" class="text-2xl"/>
            <ng-icon name="lucideMessageCircle" class="text-2xl"/>
         </div>
      </div>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <div class="flex flex-col bg-gray-100">
      <div id="container">
         <strong>Ready to create an app?</strong>
         <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
      </div>
   </div>
</ion-content>

<ion-footer>
   <ion-toolbar color="white" class="bg-white">
      <div class="pt-2 pb-4 flex items-center justify-around text-gray-700">
         <div class="flex flex-col gap-1 items-center justify-center">
            <ng-icon name="lucideHouse" class="text-xl"/>
            <span class="text-[9px]">Home</span>
         </div>

         <div class="flex flex-col gap-1 items-center justify-center">
            <ng-icon name="lucideShoppingBag" class="text-xl"/>
            <span class="text-[9px]">Mall</span>
         </div>

         <div class="flex flex-col gap-1 items-center justify-center">
            <ng-icon name="lucideTv" class="text-xl"/>
            <span class="text-[9px]">Live & Videos</span>
         </div>

         <div class="flex flex-col gap-1 items-center justify-center">
            <ng-icon name="lucideBell" class="text-xl"/>
            <span class="text-[9px]">Notifications</span>
         </div>

         <div class="flex flex-col gap-1 items-center justify-center">
            <ng-icon name="lucideCircleUserRound" class="text-xl"/>
            <span class="text-[9px]">Me</span>
         </div>
      </div>
   </ion-toolbar>
</ion-footer>
