<ion-header [translucent]="true">
   <ion-toolbar color="primary">
      <div class="mt-8 ion-padding flex items-center justify-between">
         <div class="relative">
            <ng-icon name="lucideSearch" class="text-lg text-gray-500 absolute top-2 left-2"/>
            <input class="w-65 bg-white text-gray-700 text-sm pl-8" hlmInput type="email" placeholder="Search..." />
         </div>

         <div class="flex items-center justify-center gap-4">
            <ng-icon name="lucideShoppingCart" class="text-2xl"/>
            <ng-icon name="lucideMessageCircle" class="text-2xl"/>
         </div>
      </div>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="tertiary">
   <div class="flex flex-col bg-gray-50">
      <div id="container">
         <strong>Ready to create an app?</strong>
         <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
      </div>
   </div>
</ion-content>

<app-footer-menu />

